*.dcu
*.identcache
*.local
*.user
*.tvsconfig
*.rsm
*.pdb
vcl/Raize
__history
/src/Win32
/src/Win64
bin/Win32/plugins/lng/obj
bin/Win64/plugins/lng/obj
/bin/Win32/plugins/EXE/cports/cports.cfg
/bin/Win64/plugins/EXE/cports/cports.cfg
/bin/Win32/plugins/EXE/cports/IPNetInfo.cfg
/bin/Win64/plugins/EXE/cports/IPNetInfo.cfg
/src/Vcl.ExtCtrls.pas
/modules/Vcl.Forms.pas
/modules/Vcl.Graphics.pas
/bin/Win32/plugins/EXE/uninstallview/UninstallView.cfg
/bin/Win64/plugins/EXE/uninstallview/UninstallView.cfg
/bin/Win32/plugins/EXE/HeidiSQL/portable_settings.txt
/bin/Win32/plugins/EXE/HeidiSQL/tabs.ini
/bin/Win64/plugins/EXE/HeidiSQL/portable_settings.txt
/bin/Win64/plugins/EXE/HeidiSQL/tabs.ini
/bin/Win32/plugins/EXE/HeidiSQL/Backups
/bin/Win32/plugins/EXE/HeidiSQL/Snippets
/bin/Win64/plugins/EXE/HeidiSQL/Backups
/bin/Win64/plugins/EXE/HeidiSQL/Snippets
/bin/Win64/plugins/SDK/OpenCV/4.6.0/bin/opencv_cudaarithm460.dll
/bin/Win64/plugins/SDK/OpenCV/4.6.0/bin/opencv_cudafilters460.dll
/bin/Win64/plugins/SDK/OpenCV/4.6.0/bin/nppitc64_11.dll
/bin/Win64/plugins/SDK/OpenCV/4.6.0/bin/cublas64_11.dll
/bin/Win64/plugins/SDK/OpenCV/4.6.0/bin/cublasLt64_11.dll
/bin/Win64/plugins/SDK/OpenCV/4.6.0/bin/cudnn64_8.dll
/bin/Win64/plugins/SDK/OpenCV/4.6.0/bin/cufft64_10.dll
/bin/Win64/plugins/SDK/OpenCV/4.6.0/bin/nppc64_11.dll
/bin/Win64/plugins/SDK/OpenCV/4.6.0/bin/nppial64_11.dll
/bin/Win64/plugins/SDK/OpenCV/4.6.0/bin/nppicc64_11.dll
/bin/Win64/plugins/SDK/OpenCV/4.6.0/bin/nppidei64_11.dll
/bin/Win64/plugins/SDK/OpenCV/4.6.0/bin/nppif64_11.dll
/bin/Win64/plugins/SDK/OpenCV/4.6.0/bin/nppig64_11.dll
/bin/Win64/plugins/SDK/OpenCV/4.6.0/bin/nppim64_11.dll
/bin/Win64/plugins/SDK/OpenCV/4.6.0/bin/nppist64_11.dll
